.beat-detector-container {
    background-color: #171717;
    width: 100%;
    height: auto;
    padding-bottom: 5vh;
}

.beat-detector-title {
    text-align: center;
    color: white;
    padding-top: 6vh;
}

.beat-detector-title-text {
    font-size: 32px;
    font-weight: 650;
}

.beat-detector-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    padding-top: 5vh;
    padding-left: 11vw;
    padding-right: 13vw;
}

.beat-detector-image-container {
    width: 40vw;
    height: auto;
}

.beat-detector-text-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: rgb(215, 206, 206);
}

.image-caption-beat {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-top: 2vh;
}

@media (max-width: 450px) {
    .beat-detector-title-text {
        font-size: 25px;
    }
    .beat-detector-content {
        flex-direction: column;
        text-align: center;
        row-gap: 3vh;
        padding-top: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .beat-detector-image-container {
        width: 80vw;
        height: auto;
    }
    .beat-detector-text-paragraph {
        font-size: 13px;
        font-weight: 400;
        color: rgb(215, 206, 206);
    }
    .beat-detector-image {
        width: 150px;
        height: auto;
    }
    .image-caption-beat {
        font-size: 15px;
    }
}
