.beat-detector-container {
    background-color: #171717;
    width: 100%;
    height: auto;
    padding-bottom: 5vh;
}

.beat-detector-title {
    text-align: center;
    color: white;
    padding-top: 6vh;
}

.beat-detector-title-text {
    font-size: 32px;
    font-weight: 650;
}

.beat-detector-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 3vw;
    padding-top: 5vh;
    padding-left: 7vw;
}

.rhys-credit {
    text-decoration: none;
}

.rhys-credit:hover {
    text-decoration: underline;
}

.beat-detector-image-container {
    width: 60vw;
    height: auto;
}

.beat-detector-image {
    width: 100%;
    height: auto;
}

.beat-detector-text-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: rgb(215, 206, 206);
}

.beat-detector-caption {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.beat-detector-image-links {
    text-decoration: none;
    text-align: center;
}

.beat-detector-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
}

.c-gif,
.python-gif {
    width: 70%;
    height: auto;
}

.beat-detector-link {
    text-decoration: none;
}

.beat-detector-link:hover {
    text-decoration: underline;
}

.image-caption-beat {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 2vh;
    position: relative;
    margin-right: 15%;
    margin-left: 15%;
}

.description {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 0;

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container:hover .description {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 450px) {
    .beat-detector-title-text {
        font-size: 25px;
    }
    .beat-detector-content {
        flex-direction: column;
        text-align: center;
        row-gap: 3vh;
        padding-top: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .beat-detector-image-container {
        width: 80vw;
        height: auto;
    }
    .beat-detector-text-paragraph {
        font-size: 13px;
        font-weight: 400;
        color: rgb(215, 206, 206);
    }
    .image-caption-beat {
        font-size: 15px;
    }
    .beat-detector-images {
        display: flex;
        flex-direction: row;
    }
}
