.dfft-wrapper {
    background-color: #171717;
    width: 100%;
    height: auto;
    padding-bottom: 5vh;
}

.dfft-title {
    text-align: center;
    color: white;
    padding-top: 6vh;
    padding-bottom: 1vh;
}

.dfft-title-text {
    font-size: 32px;
    font-weight: 600;
}

.dfft-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    padding-top: 2vh;
    padding-left: 22vw;
    padding-right: 22.5vw;
}

.dfft-image {
    width: 19vw;
    height: auto;
}

.dfft-text-paragraph {
    margin-top: -3vh;
    font-size: 16px;
    font-weight: 400;
    color: rgb(215, 206, 206);
}

@media (max-width: 450px) {
    .dfft-wrapper {
        margin-top: 80px;
    }
    .dfft-title-text {
        font-size: 20px;
        font-weight: 600;
    }
    .dfft-content {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        text-align: center;
        padding-top: 2vh;
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .dfft-image {
        width: 50vw;
        height: auto;
    }
}
