.kk-wrapper {
    background-color: #171717;
    width: 100%;
    height: auto;
    padding-bottom: 5vh;
}

.kk-title {
    text-align: center;
    color: white;
    padding-top: 6vh;
}

.kk-title-text {
    font-size: 32px;
    font-weight: 650;
}

.kk-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    padding-top: 2vh;
    padding-left: 22vw;
    padding-right: 25vw;
}

.kk-image-container {
    width: 40vw;
    height: auto;
}

.kk-text-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: rgb(215, 206, 206);
}

.image-caption {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-top: 2vh;
}

.kk-line {
    position: absolute;
    margin-bottom: 42vh;
    width: 70%;
    z-index: 4;
    color: white;
}

.github-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.github-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12vh 44vw 5vh 44vw;
}

.github-caption {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-top: 2vh;
}

@media (max-width: 450px) {
    .kk-title-text {
        font-size: 25px;
    }
    .kk-content {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .kk-image-container {
        width: 70vw;
        height: auto;
    }
    .kk-line {
        position: absolute;
        margin-bottom: 33vh;
        width: 70%;
    }
    .github-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12vh 30vw 5vh 30vw;
    }
}
